.elementor-102289 .elementor-element.elementor-element-0895b8f{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:40px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:40px;--padding-inline-end:40px;--z-index:999;}.elementor-102289 .elementor-element.elementor-element-0895b8f:not(.elementor-motion-effects-element-type-background), .elementor-102289 .elementor-element.elementor-element-0895b8f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FDFDFD;}.elementor-102289 .elementor-element.elementor-element-0895b8f, .elementor-102289 .elementor-element.elementor-element-0895b8f::before{--border-transition:0.3s;}.elementor-102289 .elementor-element.elementor-element-eb7d030{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-bb6d8d3{text-align:left;}.elementor-102289 .elementor-element.elementor-element-bb6d8d3 img{width:170px;}.elementor-102289 .elementor-element.elementor-element-516b096{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-012b890 .elementor-nav-menu .elementor-item{font-family:"Manrope", Sans-serif;font-size:16px;font-weight:500;}.elementor-102289 .elementor-element.elementor-element-012b890 .elementor-nav-menu--main .elementor-item{padding-left:8px;padding-right:8px;}.elementor-102289 .elementor-element.elementor-element-012b890{--e-nav-menu-horizontal-menu-item-margin:calc( 8px / 2 );}.elementor-102289 .elementor-element.elementor-element-012b890 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:8px;}.elementor-102289 .elementor-element.elementor-element-bfb41a0{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-end;--gap:16px 16px;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-551c671 .elementor-button{font-family:"Sharp Grotesk", Sans-serif;font-size:16px;font-weight:500;fill:var( --e-global-color-3fdd682 );color:var( --e-global-color-3fdd682 );background-color:var( --e-global-color-4d47577 );border-radius:100px 100px 100px 100px;padding:16px 24px 16px 24px;}.elementor-102289 .elementor-element.elementor-element-4d9b433 .elementor-button{font-family:"Sharp Grotesk", Sans-serif;font-size:16px;font-weight:500;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:#FFFFFF;border-radius:100px 100px 100px 100px;padding:16px 24px 16px 24px;}.elementor-102289 .elementor-element.elementor-element-b4e3311{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:32px;--padding-inline-end:32px;--position:fixed;top:0px;--z-index:99999;}.elementor-102289 .elementor-element.elementor-element-b4e3311:not(.elementor-motion-effects-element-type-background), .elementor-102289 .elementor-element.elementor-element-b4e3311 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FDFDFD;}.elementor-102289 .elementor-element.elementor-element-b4e3311, .elementor-102289 .elementor-element.elementor-element-b4e3311::before{--border-transition:0.3s;}body:not(.rtl) .elementor-102289 .elementor-element.elementor-element-b4e3311{left:0px;}body.rtl .elementor-102289 .elementor-element.elementor-element-b4e3311{right:0px;}.elementor-102289 .elementor-element.elementor-element-07c37ee{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-4337773{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:32px;--padding-inline-end:32px;--z-index:10;}.elementor-102289 .elementor-element.elementor-element-4337773, .elementor-102289 .elementor-element.elementor-element-4337773::before{--border-transition:0.3s;}.elementor-102289 .elementor-element.elementor-element-3c0bc77{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-7e4036c{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-end;--gap:0px 0px;--background-transition:0.3s;border-style:solid;--border-style:solid;border-color:#FFFFFF;--border-color:#FFFFFF;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-7e4036c:not(.elementor-motion-effects-element-type-background), .elementor-102289 .elementor-element.elementor-element-7e4036c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FDFDFDCC;}.elementor-102289 .elementor-element.elementor-element-7e4036c, .elementor-102289 .elementor-element.elementor-element-7e4036c::before{--border-transition:0.3s;}.elementor-102289 .elementor-element.elementor-element-b263b62 .elementor-button{font-family:"Sharp Grotesk", Sans-serif;font-size:16px;font-weight:500;border-style:solid;border-width:2px 2px 2px 2px;border-color:#0553F1;}.elementor-102289 .elementor-element.elementor-element-62b8d99 .elementor-button{font-family:"Sharp Grotesk", Sans-serif;font-size:16px;font-weight:500;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:var( --e-global-color-3fdd682 );border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-primary );}@media(max-width:1024px){.elementor-102289 .elementor-element.elementor-element-07c37ee{--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-102289 .elementor-element.elementor-element-3c0bc77{--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-102289 .elementor-element.elementor-element-3c0bc77.e-con{--align-self:center;}.elementor-102289 .elementor-element.elementor-element-7e4036c{--border-radius:40px 40px 40px 40px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:16px;--padding-inline-end:16px;}.elementor-102289 .elementor-element.elementor-element-7e4036c.e-con{--align-self:center;}}@media(max-width:767px){.elementor-102289 .elementor-element.elementor-element-0895b8f{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-b4e3311{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:16px;--padding-inline-end:16px;}.elementor-102289 .elementor-element.elementor-element-07c37ee{--width:100%;--justify-content:center;}.elementor-102289 .elementor-element.elementor-element-4337773{--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:16px;--padding-inline-end:16px;--z-index:1;}.elementor-102289 .elementor-element.elementor-element-3c0bc77{--width:100%;--justify-content:center;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-102289 .elementor-element.elementor-element-7e4036c{--width:0px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--gap:8px 8px;--flex-wrap:wrap;border-width:2px 2px 2px 2px;--border-block-start-width:2px;--border-inline-end-width:2px;--border-block-end-width:2px;--border-inline-start-width:2px;--border-radius:40px 40px 40px 40px;--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:16px;--padding-inline-end:16px;}.elementor-102289 .elementor-element.elementor-element-7e4036c.e-con{--align-self:center;}.elementor-102289 .elementor-element.elementor-element-b263b62 .elementor-button{padding:13px 32px 13px 32px;}.elementor-102289 .elementor-element.elementor-element-b263b62{width:auto;max-width:auto;}.elementor-102289 .elementor-element.elementor-element-62b8d99 .elementor-button{padding:13px 32px 13px 32px;}.elementor-102289 .elementor-element.elementor-element-62b8d99{width:auto;max-width:auto;}}@media(min-width:768px){.elementor-102289 .elementor-element.elementor-element-0895b8f{--width:100%;}.elementor-102289 .elementor-element.elementor-element-eb7d030{--width:0px;}.elementor-102289 .elementor-element.elementor-element-516b096{--width:100%;}.elementor-102289 .elementor-element.elementor-element-bfb41a0{--width:0px;}.elementor-102289 .elementor-element.elementor-element-07c37ee{--width:50%;}.elementor-102289 .elementor-element.elementor-element-4337773{--content-width:1280px;}.elementor-102289 .elementor-element.elementor-element-3c0bc77{--width:50%;}.elementor-102289 .elementor-element.elementor-element-7e4036c{--width:24%;}}@media(max-width:1024px) and (min-width:768px){.elementor-102289 .elementor-element.elementor-element-b4e3311{--width:100%;}.elementor-102289 .elementor-element.elementor-element-07c37ee{--width:100%;}.elementor-102289 .elementor-element.elementor-element-3c0bc77{--width:100%;}.elementor-102289 .elementor-element.elementor-element-7e4036c{--width:340px;}}/* Start custom CSS for container, class: .elementor-element-eb7d030 */.elementor-102289 .elementor-element.elementor-element-eb7d030 {
    min-width: 350px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-551c671 */.elementor-102289 .elementor-element.elementor-element-551c671 .elementor-button {
    color: #fff;
    background-color: #1C39C2;
    border: 2px solid #1C39C2;
    transition: color 0.25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.elementor-102289 .elementor-element.elementor-element-551c671 .elementor-button .button-bg {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #14288A;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  transform: translate(-50%, -50%);
  color: #fff;
}


.elementor-102289 .elementor-element.elementor-element-551c671 .elementor-button:hover {
  color: #fff;
}

.elementor-102289 .elementor-element.elementor-element-551c671 .elementor-button:hover .button-bg {
  width: 250%;
  height: 250%;
}

.elementor-102289 .elementor-element.elementor-element-551c671 span.elementor-button-content-wrapper {
    position: relative;
    z-index: 999;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-4d9b433 */.elementor-102289 .elementor-element.elementor-element-4d9b433 .elementor-button {
    color: #1C39C2;
    border: 2px solid #1C39C2;
    transition: color 0.25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.elementor-102289 .elementor-element.elementor-element-4d9b433 .elementor-button .button-bg {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #14288A;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  transform: translate(-50%, -50%);
  color: #fff;
}


.elementor-102289 .elementor-element.elementor-element-4d9b433 .elementor-button:hover {
  color: #fff;
}

.elementor-102289 .elementor-element.elementor-element-4d9b433 .elementor-button:hover .button-bg {
  width: 250%;
  height: 250%;
}

.elementor-102289 .elementor-element.elementor-element-4d9b433 span.elementor-button-content-wrapper {
    position: relative;
    z-index: 999;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-bfb41a0 */.elementor-102289 .elementor-element.elementor-element-bfb41a0 {
    min-width: 350px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-0895b8f */.elementor-102289 .elementor-element.elementor-element-0895b8f {
    width: 100% !important;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-e2e3741 */#mobile-menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column1 {
    flex: 1;
}

.column2 {
    flex: 1;
    text-align: right;
}

.hamburger-menu {
    cursor: pointer;
    float: right;
    display: inline-block;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 6px;
    transition: 0.4s;
    border-radius: 50px;
}

.bar:nth-child(2) {
    width: 20px;
}

.full-screen-menu {
    opacity: 0; /* Initially transparent */
    pointer-events: none; /* Hide menu from interaction when not visible */
    position: fixed;
    top: 63px;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #1C39C2;
    z-index: 1000;
    overflow: auto;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.full-screen-menu.show {
    opacity: 1; /* Fully visible when menu is open */
    pointer-events: auto; /* Enable interaction when visible */
}

img.custom-logo {
    max-width: 140px;
}

ul#menu-primary-menu-en {
    background-color: #fff;
    border-radius: 6px;
    margin: 16px;
    list-style: none;
    text-align: left;
    padding: 4px;
}

ul#menu-languages {
    background-color: #212121;
    border-radius: 6px;
    margin: 16px;
    list-style: none;
    text-align: left;
    padding: 0px;
}

#menu-languages a {
    color: #fff;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

ul.languages-sub-menu {
    background-color: #121212;
    border-radius: 0 0 6px 6px;
    padding: 8px 0;
}

a.wpml-ls-link {
    padding: 8px 0;
}

.menu-languages-container #menu-languages > li > a {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.chevron {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease; /* Add smooth transition */
    background-image: var(--wpr-bg-297743f7-c368-44d5-80f5-2db5af157e9d);
    width: 10px;
    height: 6px;
    float: right;
}

.chevron.active {
    transform: rotate(-180deg); /* Rotate chevron when submenu is opened */
}

#menu-primary-menu-en li:after {
    content: '';
    background-image: var(--wpr-bg-3101379b-5ad7-4c66-9f48-dd2db3b902bd);
    width: 6px;
    height: 10px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 16px;
    top: 8px;
}

#menu-primary-menu-en li {
    position: relative;
}

.full-screen-menu li {
    margin: 12px 0;
    list-style: none;
}

.full-screen-menu a {
    margin: 4px 16px;
    color: #212121;
    font-family: 'manrope', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu-btn-wrap.mobile-menu-cta {
    background-color: #fff;
    margin: 16px;
    padding: 16px;
    border-radius: 6px;
}

.menu-btn-wrap.mobile-menu-cta a.menu-btn {
    margin: 0;
    width: 50%;
}

.menu-btn-wrap.mobile-menu-cta {
    gap: 20px;
}

/*hamburger animaton*/
.elementor-102289 .elementor-element.elementor-element-e2e3741 .hamburger-menu.open .bar:first-child {
    transform: rotate(-45deg) translate(-9px, 9px);
}

.elementor-102289 .elementor-element.elementor-element-e2e3741 .hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.elementor-102289 .elementor-element.elementor-element-e2e3741 .hamburger-menu.open .bar:last-child {
    transform: rotate(45deg) translate(-4px, -4px);
}


.primary-menu-mob.blue {
    background-color: #1C39C2 !important;
}

.primary-menu-mob.blue img.custom-logo {
    filter: grayscale(0) contrast(0) brightness(2.5);
}
.primary-menu-mob.blue .bar {
    background-color: #fff;
}

.primary-menu-mob, .primary-menu-mob > * {
    transition: all 0.5s ease;
}

.primary-menu-mob img.custom-logo {
    filter: none;
}

html.no-scroll {
    overflow-y: hidden;
}


#menu-primary-menu-en a {
    width: -webkit-fill-available;
    display: block;
}

/* Media Query for Mobile */
@media (max-width: 1024px) {
    #mobile-menu {
        display: flex;
    }
}

/* Keyframe animations for rotating and sliding */
@keyframes rotateAndSlideUp {
    0% {
        transform: rotate(-10deg) translateY(100px);
        transform-origin: left top;
    }
    100% {
        transform: rotate(0deg) translateY(0);
        transform-origin: left top;
    }
}

@keyframes rotateAndSlideUp2 {
    0% {
        transform: rotate(10deg) translateY(100px);
        transform-origin: right top;
    }
    100% {
        transform: rotate(0deg) translateY(0);
        transform-origin: right top;
    }
}

@keyframes rotateAndSlideDown {
    0% {
        
        transform:rotate(0deg)  translateY(0);
        transform-origin: left top;
    }
    
    
    100% {
        transform: rotate(-10deg) translateY(100px);
        transform-origin: left top;
        opacity: 1;
    }
}

@keyframes rotateAndSlideDown2 {
    0% {
        
        transform:rotate(0deg)  translateY(0);
        transform-origin: right top;
    }
    100% {
        transform: rotate(10deg) translateY(100px);
        transform-origin: right top;
    }
}

/* FadeIn and FadeOut animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply animation to menu elements */
.menu-primary-menu-container,
.menu-languages-container,
.mobile-menu-cta {
    transition: transform 0.4s ease, opacity 0.4s ease; 
}

.menu-primary-menu-container.open,
.menu-languages-container.open
 {
    animation: rotateAndSlideUp 0.4s ease forwards, fadeIn 0.2s ease forwards; 
}

.mobile-menu-cta.open {
    animation: rotateAndSlideUp2 0.4s ease forwards, fadeIn 0.2s ease forwards; 
}

.menu-primary-menu-container.close,
.menu-languages-container.close{
    animation: rotateAndSlideDown 0.4s ease forwards, fadeOut 0.2s ease forwards;
}

.mobile-menu-cta.close {
    animation: rotateAndSlideDown2 0.4s ease forwards, fadeOut 0.2s ease forwards;
    
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-07c37ee */.elementor-102289 .elementor-element.elementor-element-07c37ee.elementor-element {
    display: block;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b4e3311 */.elementor-102289 .elementor-element.elementor-element-b4e3311.primary-menu-mob {
  transition: .5s;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7e4036c */.elementor-102289 .elementor-element.elementor-element-7e4036c {
    min-width: 300px;
    max-width: 100%;
    width: auto;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4337773 */.elementor-102289 .elementor-element.elementor-element-4337773.mobile-menu-island {
    position: fixed;
    width: 100vw;
    bottom: -120px;
    left: 0;
    transition: bottom 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .elementor-102289 .elementor-element.elementor-element-4337773.hide {
    bottom: -90px; /* Hide the island */
  }
  
  .mobile-menu-island {
    z-index: 9999999;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-Light.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/04/Manrope-ExtraBold.woff) format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Sharp Grotesk';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/01/SharpGrotesk-Book20-1.woff) format('woff');
}
@font-face {
	font-family: 'Sharp Grotesk';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/01/SharpGrotesk-Medium20-1.woff) format('woff');
}
@font-face {
	font-family: 'Sharp Grotesk';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/01/SharpGrotesk-SemiBold20-1.woff) format('woff');
}
@font-face {
	font-family: 'Sharp Grotesk';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(https://www.socios.com/wp-content/uploads/2024/01/SharpGrotesk-Bold20-1.woff) format('woff');
}
/* End Custom Fonts CSS */